QTabWidget::tab-bar {
    alignment: left;
}


Home QTabBar::tab {
    background-color: transparent;
}


NewGameMenu {
background-color: rgba(0, 0, 0, 170)
}
NewGameMenu QPushButton {
color: rgb(227, 227, 227);
background-color: transparent;
font: bold 16pt;
}
NewGameMenu QLabel {
color: rgb(227, 227, 227);
background-color: transparent;
font: 16pt;
}
NewGameMenu QComboBox {
color: rgb(227, 227, 227);
background-color: transparent;
font: 16pt;
}

InGameMenu {
background-color: rgba(0, 0, 0, 200)
}
InGameMenu QPushButton {
color: rgb(227, 227, 227);
background-color: transparent;
font: bold 16pt;
}

SettingsMenu {
background-color: rgba(0, 0, 0, 200)
}
SettingsMenu QPushButton {
color: rgb(227, 227, 227);
background-color: transparent;
font: bold 16pt;
}
SettingsMenu QLabel {
color: rgb(227, 227, 227);
background-color: transparent;
font: 16pt;
}
SettingsMenu QComboBox {
color: rgb(227, 227, 227);
background-color: transparent;
font: 16pt;
}